[Desktop Entry]
Type=Application
Name=TuxStack
Comment=Native Docker management for KDE Plasma
Exec=tuxstack
Icon=io.github.tuxstack.TuxStack
Categories=System;Utility;
Terminal=false
StartupWMClass=tuxstack
X-KDE-Wayland-Applications=io.github.tuxstack.TuxStack
